= simple_form_for(page) do |f|
  - if page.errors
    %ul
      - page.errors.full_messages.each do |e|
        %li
          =e
  %p
    %span.field
      = f.input :name
  %p
    %span.field
      = f.input :content

  %p
    %span.field
      = f.input :position
  
  %p
    = f.button :submit, disable_with: 'Creating...'

